<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bg Remover</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="form-container">
      <div class="header">
        <h1>Background Remover</h1>
      </div>
      <form action="/" method="POST" enctype="multipart/form-data">
        <div class="drop-zone">
          <span class="drop-zone__prompt">Drop file here or click to upload</span>
          <input type="file" name="myFile" class="drop-zone__input" accept="image/*" required />
        </div>
        <div class="btn-div">
          <input class="submit-btn" type="submit" style="display: none" />
          <div class="loader" style="display: none" ></div>
        </div>
      </form>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
